/* MOBILE - slightly bigger sidemenu */

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
.topmenu-container {
    width: 90%;
    }
.topmenu-container-fixed {
    width: 70%;
    }
.topicmenu-container {
    width: 20%;
    }
.topicmenu-element {
    width: 110%;
    }
 }

/* TABLET */

@media screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.topmenu-container {
    width: 90%;
    }
.topmenu-container-fixed {
    width: 70%;
    }
}