
body {
  background-color: #fefefe;
  padding: 0;
  margin: 0;
}

#app-view {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    height: 100vh;
}



/*ALTERNATIVE FONT CLASS FOR CARDS AND CATEGORIES*/
.alt_font {
    font-family: OpenDyslexic3-Regular;
}

/*TOP AREA*/
.topmenu-container {
    margin: auto;
    width: 80%;
    height: 140px;
    display: flex;
}

.topmenu-container-fixed {
    position: fixed;
    z-index: 9;
}


/*INPUT AREA*/
.input-container {
    width:auto;
    margin: auto;
    flex: 1 1 100%;
    align-items: center;
    box-shadow: 0px 2px 8px rgba(0,0,0,.2);
}

.input-container__input-area {
    display: flex;
    width: 100%;
    background-color: transparent;
}

.input-container input {
    height: 4rem;
    width: auto;
    padding-left: 10px;
    border: none;
    font-size: 1.5rem;
    flex: 1 1 100%;
}

.input_container__btn-clear {
    background: tomato;
    width: auto;
    border: none;
    border-radius: 3px 0 0 3px;
    font-size: 16px;
    color: #ffffff;
    padding: 0 20px;
    justify-content: flex-start;
}

.input_container__btn-clear:hover {
    cursor: pointer;
    background: #fd593c;
}

.input_container__btn-say {
    cursor: pointer;
    color: #ffffff;
    background: #FFB74D;
    border: none;
    font-size: 24px;
    border-radius: 0 3px 3px 0;
    height: 4rem;
    justify-content: flex-end;
    padding:10px;
}

.input_container__btn-say:hover {
    cursor: pointer;
    background:#fdb245;
}
/*INPUT AREA END*/



/*MIDDLE CONTENT CLASSES*/
.middle-inner {
    height: calc(100vh - 140px);
    margin: auto;
    text-align: center;
}

.topicmenu-container {
  margin: auto;
  height: 100%;
  background-color: #ffffff;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: flex-start;
  padding:0 20px;
}


.topicmenu-inner{
    margin-top:35px;
}

.middle-container {
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-flow: wrap;
  flex: 1;
    padding: 0 20px;
}

.topicmenu-element {
  width: 170px;
  height: 220px;
  background-color: #ffffff;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

/*Word card styling*/
.word-element {
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 200px;
    height: 240px;
    background-color:white;
    margin: 0 10px 10px;
    border-radius: 3px;
}

.topicmenu-element-inner__card-bg:hover {
    cursor: pointer;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
}

.topicmenu-element-inner__card-bg {
    border-radius: 3px;
    width: 90%;
    margin: auto;
}

/*ACTIVE CLASS TO USE WHEN MENU ITEM IS CLICKED*/
.topicmenu-element-inner {
    transition: all .2s ease-in-out;
}

.active-state .topicmenu-element-inner {
    width: 120%;
    border-radius: 0;
    text-align: center;
}

.active-state .topicmenu-element-inner__card-bg {
    border-radius: 0;
}




.topicmenu-element-inner__card-bg img{
    width:100px;
    padding:30px 0;

}

.topicmenu-element-image-title {
    font-size: 20px;
    margin-top: 5px;
}


/*Category color classes*/
.topicmenu-element__places {
    background-color: #f7d371;
}
.topicmenu-element__animals{
    background-color: #bd835f;
}

.topicmenu-element__activities{
    background-color: #C54054;
}

.topicmenu-element__emotions{
    background-color: #FED41B;
}

.topicmenu-element__clothing{
    background-color: #069358;
}

.topicmenu-element__places {
    background-color: #E3C062;
}

.topicmenu-element__animals {
    background-color: #bd835f;
}

.topicmenu-element__emotions{
	background-color: #FFDC24;
}

.topicmenu-element__clothing{
	background-color: #6D994B;
}

.topicmenu-element__actions{
	background-color: #FA5A73;
}

.topicmenu-element__weather{
	background-color: #2EA3E5;
}

.topicmenu-element__commandments{
	background-color: #FF8852;
}

.topicmenu-element__hygiene{
	background-color: #90A7F5;
}

.topicmenu-element__health{
	background-color: #7BBA4A;
}

.topicmenu-element__cookingactivities{
	background-color: #F05151;
}

.topicmenu-element__foodanddrink{
	background-color: #8CD653;
}

.topicmenu-element__movement{
	background-color: #DAE838;
}

.topicmenu-element__school{
	background-color: #F25CD2;
}

.topicmenu-element__body{
	background-color: #E5BA83;
}

.topicmenu-element__technique{
	background-color: #A3A3A3;
}

.topicmenu-element__transport{
	background-color: #EDF5F7;
}

.topicmenu-element__characters{
	background-color: #7C469C;
}

.topicmenu-element__people{
	background-color: #7C469C;
}

.image-title {
    text-align: center;
    z-index: 9;
    font-size: 1.1rem;
    padding-top:10px;
    color: #222;
    text-transform: capitalize;
}



.img-button img {
  height: 190px;
  width: 200px;
  opacity: 0.9;
    border-radius: 3px;
}

.img-button:hover {
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
}


/*MIDDLE CONTENT CLASSES END*/

/*CATEGORY MENU*/
.category-filter {
  display: inline-flex;
}

/* Filter imlimentation 
.hide {
  display: none !important
 }
*/
#wordcontainer {
  justify-content: space-around;
}

#wordcontainer .word-element.places {
  display: block;
}

.arrow {
    position: absolute;
    font-size: 32px;
    color: #333;
    padding: 10px 70px;
}

.arrow__arrow-up {
  top:0px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+99&0.56+1,1+40 */
background: -moz-linear-gradient(bottom, rgba(255,255,255,0.56) 1%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(bottom, rgba(255,255,255,0.56) 1%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to top, rgba(255,255,255,0.56) 1%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.arrow__arrow-down {
  bottom: 0px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+99&0.56+1,1+40 */
background: -moz-linear-gradient(top, rgba(255,255,255,0.56) 1%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0.56) 1%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0.56) 1%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.arrow__arrow-up:hover {
    cursor: pointer;
    
}

.arrow__arrow-down:hover {
    cursor: pointer;
    
}

/*CATEGORY MENU END*/
